.contact {
    background-color: $wood;
    padding-top: 4rem;
    padding-bottom: 5rem;
    overflow-x: hidden;

    h1,
    p {
        text-align: center;

        @include breakpoint-up(medium) {
            text-align: left;
            padding-left: 1rem;
        }
    }

    #success_message {
        display: none;
    }

    &__form {
        margin-top: 5rem;

        form {
            text-align: left;
            ion-icon {
                font-size: $font-lg;
                vertical-align: middle;
                padding-bottom: 3px;
            }

            .button {
                font-size: $font-med;
                text-align: center;
                display: block;
                // margin: 0 auto;
                color: $wood;
                background: $darkBrown;
                border-radius: 0%;
            }
        }
    }

    &__map {
        width: 100%;
        margin-top: 3rem;
        display: block;
        border: 0;
        // margin: 0 auto;
    }

    input:focus {
        outline: none !important;
        border-color: $red;
        box-shadow: 0 0 10px $orange;
    }

    textarea:focus {
        outline: none !important;
        border-color: $red;
        box-shadow: 0 0 10px $orange;
    }


}