html {
  font-size: 16px; /* Base font size */
}

.header {
  background-color: $red;
  box-shadow: 0 2px 2px $darkBrown;
}

.brand-container {
  width: 100%;
  padding: 0 1rem; /* Horizontal padding */
  box-sizing: border-box;
}

.brand {
  vertical-align: middle;
  color: $wood;
  font-family: "Oswald", sans-serif;
  /* More aggressive clamp values to ensure better scaling */
  font-size: clamp(1rem, 3vw, 1.2rem); /* Adjusted for better scaling */
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* Additional Media Query for very large zoom levels or small screens */
@media (max-width: 400px) {
  .brand {
    font-size: 1rem; /* Fixed small font size for extreme cases */
  }
  /* Hide or replace with a logo if needed */
  .brand-logo {
    display: block; /* Show logo */
  }
  .brand-text {
    display: none; /* Hide text */
  }
}

.nav__service {
  border-radius: 8px;
  height: 45px;
  width: 75px;
  padding-right: 2px;
}

#toggle-nav {
  ion-icon {
    font-size: 2.45rem;
  }

  padding: 8px 10px;
  border-radius: 3px;
  background-color: transparent;
  color: $wood;
  text-transform: uppercase;
  align-self: center;
  font-weight: bold;

  /* Hide #toggle-nav on larger screens */
  @media (min-width: 769px) {
    display: none;
  }

  /* Adjust margin for smaller screens */
  @media (max-width: 768px) {
    margin-right: 5px;
  }
}

.main-nav__heading {
  /* Flex layout for smaller screens */
  @media (max-width: 768px) {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center; /* Align items vertically */
  }
}

.main-nav {
  // background-color: $wood;
  background-color: $red;
  // box-shadow: 0 2px 10px -5px rgba(0, 0, 0, .35);
  // box-shadow: 0 5px 5px $darkBrown;
  height: 100px;
  display: flex;
  justify-content: space-between;
  padding: 0 30px;

  $this: &;

  @media (max-width: 768px) {
    padding: 0 10px;
    display: block;
  }

  &__sticky {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 16;

    margin: 0 auto;
    left: 0px;
    right: 0px;
  }

  &__menu {
    display: flex;

    @media (max-width: 768px) {
      display: block;
      height: 0;
      overflow: hidden;
    }

    &--open {
      display: block;
      height: auto;
    }

    &-item {
      // background-color: $wood;
      background-color: $red;
      position: relative;
      z-index: 2;
      list-style: none;

      &-link {
        // color: $darkBrown;
        color: $wood;
        text-decoration: none;
        display: block;
        line-height: 100px;
        cursor: pointer;
        padding: 0 10px;

        @media (max-width: 768px) {
          line-height: 40px;
          box-shadow: 0 1px 0 #eee inset;
        }

        &:hover {
          color: $veryLightBrown;
          text-decoration: none;
        }
      }

      &--active {
        #{$this}__menu-item-link {
          // color: $darkBrown;
          color: $wood;
          // background: #f0f0f0;

          &:hover {
            color: $veryLightBrown;
          }
        }
      }

      &--dropdown {
        position: relative;
        z-index: 2;

        #{$this}__menu-item-link {
          @media (min-width: 769px) {
            padding-right: 20px;
          }
        }

        &:after {
          top: 48px;
          left: auto;
          right: 5px;
          border: solid transparent;
          content: " ";
          height: 0;
          width: 0;
          position: absolute;
          pointer-events: none;
          border-color: transparent;
          // border-top-color: #888;
          border-top-color: $orange;
          border-width: 5px;

          @media (max-width: 768px) {
            top: 18px;
          }
        }

        #{$this}__sub-menu {
          list-style: none;
          max-height: 0;
          overflow: hidden;
          transition: 0.5s;
          // background-color: #f0f0f0;
          background-color: $red;
          white-space: nowrap;

          @media (min-width: 769px) {
            position: absolute;
            top: 100%;
            left: 50%;
            transform: translateX(-50%);
            box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.35);
          }

          &--show {
            max-height: 200px;
          }

          &-item {
            padding: 10px 15px;

            &:last-child {
              padding: 10px 15px 20px 15px;
            }

            &-link {
              // color: $darkBrown;
              color: $wood;
              display: block;
              text-decoration: none;

              &:hover {
                color: $veryLightBrown;
              }
            }
          }
        }
      }
    }
  }
}
