.story {
    background-color: $wood;
    font-size: $font-med;


    h1,
    h2,
    h3 {
        text-align: left;

        @include breakpoint-down(medium) {
            text-align: center;
        }
    }
    
    .welcome {
        padding-top: 2rem;
    }

    .slogan {
        text-align: left;

        @include breakpoint-down(medium) {
            display: none;
        }
    }

    &__intro {
        font-weight: 350;
        text-align: left;
        width: 65%;

        @include breakpoint-up(large) {
            padding-bottom: 5rem;
        }

        @include breakpoint-down(medium) {
            text-align: center;
            width: 100%;
        }
    }

    &__schedule {
        margin-top: 5rem;
        margin-bottom: 2rem;

        @include breakpoint-down(medium) {
            margin-top: 7rem;
        }

        ion-icon {
            font-size: $font-xl;
        }
    }

    &__socials {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        ion-icon {
            color: $darkBrown;
            font-size: 2.5rem;
        }

        ion-icon:hover {
            color: $veryLightBrown;
        }

        @include breakpoint-up(large) {
            a:not(:last-child) {
                padding-bottom: 1rem;
            }
        }

        @include breakpoint-down(medium) {
            flex-direction: row;
            justify-content: center;
            margin-top: 1rem;

            a:not(:last-child) {
                padding-right: 1rem;
            }
        }

        a,
        a:hover {
            outline: none;
            text-decoration: none;
        }

        .social_text {
            padding-left: 1rem;
            color: $darkBrown;

            @include breakpoint-down(medium) {
                display: none;
            }
        }
    }

    &__imageblock {
        display: flex;
        // justify-content: center;

        @include breakpoint-down(medium) {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
        }


        .social_schedule {
            order: 1;
            width: 100%;
            height: 100%;
            border-radius: 0;
            padding-bottom: 1rem;

            @include breakpoint-down(medium) {
                justify-content: center;
            }

            iframe {
                width: 100%;
                height: 100%;
                min-height: 550px;
                border: 0;
                border-radius: 0;
                background-color: $lightBrown;
            }

        }

        // img {
        //     border-radius: 30px;
        //     order: 1;
        //     flex-grow: 2;
        //     height: 320px;
        //     width: 500px;

        //     @include breakpoint-down(medium) {
        //         margin-top: 30px;
        //         margin-bottom: 20px;
        //     }

        //     @include breakpoint-down(small) {
        //         width: 400px;
        //     }
        // }

        p {
            font-weight: 350;
            flex-grow: 6;
            order: 2;

            @include breakpoint-down(medium) {
                text-align: center;
                flex-grow: 1;
                margin-bottom: 3rem;
            }

            @include breakpoint-up(large) {
                margin-left: 30px;
            }
        }
    }

    &__imageblock2 {
        margin-top: 50px;
        display: flex;
        justify-content: center;

        @include breakpoint-down(medium) {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-evenly;
        }

        img {
            border-radius: 8px;
            transition-timing-function: ease-in;
            order: 2;
            flex-grow: 2;
            height: 320px;
            width: 500px;

            @include breakpoint-down(medium) {
                order: 1;
                margin-bottom: 20px;
            }

            @include breakpoint-down(small) {
                width: 400px;
            }
        }

        p {
            font-weight: 350;
            margin-right: 20px;
            order: 1;

            @include breakpoint-down(medium) {
                order: 2;
                text-align: center;
            }
        }
    }

    &__testimonial {
        padding-bottom: 5rem;

        h3 {
            font-weight: 400;
            text-align: center;
        }

        @include breakpoint-down(medium) {
            padding-top: 1rem;
            padding-bottom: 8rem;
        }

        @include breakpoint-down(small) {
            padding-top: 1rem;
            padding-bottom: 17rem;
        }
    }

    .carousel-inner {
        @include breakpoint-down(small) {
            max-height: 768px;
        }
    }


    .carousel-indicators {
        bottom: -150px;

        li {
            background-color: $veryLightBrown;
        }

        @include breakpoint-down(medium) {
            bottom: -180px;
        }

        @include breakpoint-down(small) {
            display: none;
        }
    }

    .carousel-icon {
        ion-icon {
            color: $veryLightBrown;
            font-size: $font-xl;
        }
    }

}