// Colors
$darkBrown: #50413A;
$red: #8F1717;
$white: #F6F8F9;
$orange: #EF5226;
$lightBrown: #7F5334;
$veryLightBrown: #BC9060;
$wood: #F9F9F8;

// Font Sizes
$font-sm: 0.875rem;
$font-med: 1.125rem;
$font-lg: 1.25rem;
$font-xl: 3.25rem;